/*local('Jameel Noori Nastaleeq'),*/
@font-face {
	font-family: 'Urdu';
	src:url('../fonts/nafees-nastaleeq-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/nafees-nastaleeq-webfont.woff') format('woff'),
	url('../fonts/nafees-nastaleeq-webfont.ttf') format('truetype'),
	url('../fonts/nafees-nastaleeq-webfont.svg#NafeesRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	line-height: 2;
}
html {
  font-size: 12px;
}
body {
	font-family: Urdu;
	direction: rtl;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 250%;
	line-height: 300%;
	margin:0.5em 0;
}
.clearfix {
	overflow: auto;
  	zoom: 1;
	clear:both;
}
.container {
	width:90%;
	margin:0px auto;
}
.content {
	font-size:150%;
	margin-top:2em;
	line-height: 300%;
}
.menu {
	width: 100%;
	padding: 2em 0em;
	background: #4ECBAA;
    list-style-type: none;
    text-align: center;
}
.menu li {
	
}
.menu li a {
	padding:0.5em 20%;
	background-color: #3BEA86;
}
.category {
	margin: 1em 0em;
	padding: 1em 1em;
	padding-top:1.5em;
	width:5em;
	text-align: center;
	background-color: #ccc;
}
.قومی {
	background-color: #016F3A;
	color:white;
}
.ڈیلی_بائیٹس {
	background-color: #DB3030;
	color:white;
}
.کھیل {
	background-color: #D78C17;
	color:white;
}
.بین_الاقوامی {
	background-color: #B5380A;
	color:white;
}
.تفریح {
	background-color: #4197CB;
	color:white;	
}
.سائنس_اور_ٹیکنالوجی {
	background-color: #014F90;
	color:white;
}
.کالم {
	background-color: #222222;
	color:white;
}
.تعلیم_و_صحت {
	background-color: #32B55B;
	color:white;
}
.date {
	text-align: right;
	margin:0.5em 0;
}

.thumb {
	float:right;
	margin-left:10px;
	margin-top:10px;
}
